######################################################################################
# Python
######################################################################################

#Ipython Notebook
.ipynb_checkpoints

#log files
*.tlog
*.depend
*.stamp
__pycache__/

################################
# PyCharm
#################################
.idea/
